<nav>
    <a routerLink="/dashboard">
        <img src="logo.svg" alt="Schoolmanagement Logo">
    </a>
    <ul>
        <li> <a routerLink="/dashboard" routerLinkActive="active">Home</a> </li>
    </ul>
    <ul>
        <li> <a routerLink="/schools" routerLinkActive="active">Schools</a> </li>
        <li> <a routerLink="/classrooms" routerLinkActive="active">Classrooms</a> </li>
        <li> <a routerLink="/students" routerLinkActive="active">Students</a> </li>
    </ul>
    <ul>
        <li> <a routerLink="/create" routerLinkActive="active">Create</a> </li>
    </ul>
</nav>